@{
    Layout = "../_Layout.cshtml";
    var usuario = Request.Form["admin"];
    var clave = Request.Form["password"];
    var con = Database.Open("disco"); 
    var query = String.Format("select * from Acceso where Usuario='{0}' and Clave='{1}'",usuario,clave);
    var datos = con.QuerySingle(query);
    con.Close();
}

@if(datos!=null){
    
    <div class="row">                                                                                                                                                                                                                                                                                                              
    <div class="col-xs-4">
        <form id="data" method="post" action="admin_templates/TestUpload.cshtml">
        <div class="panel panel-default">
            <div class="panel-heading"  style="font-size: 1.5em; font-weight: bold;">
                Producto
            </div>
            
            <div class="panel-body" id="producto">
                <div class="input-group">
                    <span class="input-group-addon">Título:</span>
                    <input type="text" class="form-control" name="titulo" placeholder="Entre el Título">
                </div>
                <div class="input-group">
                    @*<span class="input-group-addon" >Portada:</span>*@
                    <input type="text" class="form-control" name="portada" placeholder="Busque la Portada">
                    <input type="file" name="buscar" onchange="get_portada(this);" accept="image/x-png, image/gif, image/jpeg">
                    <span class="input-group-addon" id="buscar" onclick="buscar_portada();"><span class="glyphicon glyphicon-search"></span></span>
                    
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Precio:</span>
                    <input type="text" class="form-control" name="precio" placeholder="Entre el Precio">
                </div>
                <div class="input-group" style="display: none;">
                    <span class="input-group-addon">Estrellas(Valoración):</span>
                    <input type="text" class="form-control" placeholder="Valoración">
                </div>

                <div class="input-group">
                    <textarea class="form-control" placeholder="Referencia" name="ref" id="ref" style="min-width: 270px;"></textarea>
                </div>

                <div class="input-group">
                    <textarea class="form-control" placeholder="Descripción" name="desc" id="desc" style="min-width: 270px;"></textarea>
                </div>
                
                <div class="input-group">
                    <input type="text" name="ruta" class="form-control" id="busqueda1" placeholder="Busque Grabación">
                    <input type="file" name="busqueda1" onchange="cambio(this);">
                    <span class="input-group-addon" id="1" onclick="grabs(this);"><span class="glyphicon glyphicon-search"></span></span>
                </div>
              
            </div>
            <div class="panel-footer"><input type="submit" class="btn btn-default" id="add_update" onclick="upload(this);" value="Agregar Producto"><span id="up" style="display: none;"><img alt="Cargando..." src='img/loading45.gif' /></span></div>
   
        </div>
        </form>
    </div>
    <!--new col-->
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading" id="info">
               
                    <span>
                        <input name="radiog_dark" id="rConsulta" class="css-checkbox" name="informe" type="radio" onclick="consulta();">
                        <label for="rConsulta" class="css-label radGroup2">Consulta</label>
                    </span>
                    <span>
                        <input name="radiog_dark" id="rReporte" class="css-checkbox" checked="checked" name="informe" type="radio" onclick="reporte();">
                        <label for="rReporte" class="css-label radGroup2">Reporte</label>
                    </span>
                    <span style="font-size: 1.5em; font-weight: bold; margin-left: 10px; margin-right: 5px; display: none;" id="por">Por</span>
                    <span id="informar" style="display: inline-block;"></span>
                    
                
            </div>
            <div class="panel-heading" id="info2">
                <span id="informar2" style=""></span>
                <!--<input type="button" class="btn btn-default btn-md" id="bt" value="Ver" style="display: none; " />-->
            </div>
            <div class="panel-body" id="informe">
                conenido
            </div>
            <div class="panel-footer">totales</div>
        </div>
    </div>
    <!--new col-->
    
</div>


}else{
    
    Response.Redirect("/");
}
