@{
    Layout = "../_Layout.cshtml";
}
Acerca de quien
<input data-provide="datepicker">
<input class="datepicker" data-date-format="mm/dd/yyyy">


<p>Date: <input type="text" id="dtepicker"></p>

<input type="text" id="datepicker"><br />
##########################################
<br />
<input type="text" id="datepicker" class="datepicker">
<input type="text" id="datepicker" class="datepicker">
<input type="text" id="datepicker" class="datepicker">

<div class="row">                                                                                                                                                                                                                                                                                                              
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <!--new col-->
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <!--new col-->
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>